@{
    ViewData["Title"] = "Getting Started";
}

<h2>Let's Get Started</h2>

<form asp-controller="Init" asp-action="Begin" method="post" class="form-horizontal">
@* Create a username/password *@
    <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" class="form-control" id="email" />
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" />
    </div>


@* Create a blog *@
    <div class="form-group">
        <label for="sitename">Site Name:</label>
        <input type="text" class="form-control" id="sitename" />
    </div>
    <div class="form-group">
        <label for="sitetheme">Theme:</label>
        <select id="sitetheme" class="form-control">
            <option value="darkly">Darkly</option>
            <option value="readable">Readable</option>
            <option value="cerulean">Cerulean</option>
        </select>
    </div>



    <button type="submit" class="btn btn-default">Submit</button>
</form> 

@section Scripts {
<script>
    $(function () {
        $('#sitetheme').change(function () {
            changeTheme($(':selected').val());
        });
    });

    function changeTheme(theme) {
        var sheet = $('[title="site_theme"]');
        sheet.attr('href', '/css/bootswatch.' + theme.toLowerCase() + '.min.css');
        //alert(sheet.attr('href'));
    }
</script>
}