@model Corwords.Web.Models.CoreViewModels.InitViewModel
@{
    ViewData["Title"] = "Getting Started";
    Layout = "_LayoutBare";
}
<h2>Let's Get Started</h2>
<div class="row">
    <form asp-controller="Init" asp-action="Begin" method="post" class="form-horizontal">
        <div class="col-md-12">
            @* Create a username/password *@
            <div class="form-group">
                <label for="email">Email address:</label>
                <input type="email" class="form-control" id="email" />
            </div>
            <div class="form-group col-12">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" />
            </div>

            @* Create a blog *@
            <div class="form-group col-12">
                <label for="sitename">Site Name:</label>
                <input type="text" class="form-control" id="sitename" />
            </div>
            <div class="form-group col-12">
                <label for="sitetheme">Theme:</label>
                <select id="sitetheme" class="form-control" asp-items="@(new SelectList(Model.Themes.Select(x => new KeyValuePair<string,string>(x,x)),"Key","Value",Model.GeneralSettings.SiteTheme))">
                </select>
            </div>
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>

@section Scripts {
    <script>
        $(function () {
            $('#sitetheme').change(function () {
                changeTheme($(':selected').val());
            });
        });

        function changeTheme(theme) {
            var sheet = $('[title="site_theme"]');
            sheet.attr('href', '/css/bootswatch.' + theme.toLowerCase() + '.min.css');
        }
    </script>
}