@model List<BlogPost>
@{
    ViewData["Title"] = "LatestPosts";
}

<h2>Latest Posts</h2>

@foreach(var post in Model)
{
    <div>
        @post.Title
    </div>
    <div>
        @post.Body
    </div>
}